<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project-newsapp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="vue-app">
      <div class="jumbotron jumbotron-fluid">
        <div class="container container-bg">
          <h1 class="display-4 my-h1-class font-weight-bold">News Finder</h1>
          <p class="lead font-weight-bold">
            A place to read WHAT YOU WANT TO READ...
          </p>
<!-- Search bar -->
          <div class="newsBar" @submit.prevent="fetchSearchNews">
            <input
              type="text"
              class="form-control input-lg"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
              placeholder="Type here to find news direct..."
              v-model="searchWord"
            />
            <button
              @click="fetchSearchNews"
              type="button"
              class="btn btn-warning btn-lg mt-4 mb-5"
            >
              Search
            </button>
          </div>
          

 
 <!-- category blocks -->       
            <div class="row row-cols-1 row-cols-md-2 ml-5">
              <div class="col mb-4">
                <div class="card text-white mb-3 world shadow rounded" style="max-width: 18rem;">
                  <div class="card-body ">
                    <h5 class="card-title deepshd">World</h5>
                    <p class="card-text deepshd">
                      News from every corner around the World.
                    </p>
                    <button
                    type="button"
                    v-on:click="fetchTopNews"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card text-white mb-3 tech" style="max-width: 18rem;">
                  <div class="card-body" >
                    <h5 class="card-title">Technologies</h5>
                    <p class="card-text"> 
                      In-depth coverage of tech issues and events.
                    </p>
                    <button
                    type="button"
                    @click="fetchTechNews"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card text-white mb-3 science" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Science</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below.
                    </p>
                    <button
                    type="button"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div
                  class="card text-white mb-3 entertainment"
                  style="max-width: 18rem;"
                >
                  <div class="card-body">
                    <h5 class="card-title">Entertainment</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below.
                    </p>
                    <button
                    type="button"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 ml-5">
              <div class="col mb-4">
                <div class="card text-white mb-3 sport" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Sports</h5>
                    <p class="card-text">
                      full covering ondga dgergs tgdsfgf gdfg sports.
                    </p>
                    <button
                    type="button"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card text-white mb-3 fashion" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Fashion</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below.
                    </p>
                    <button
                    type="button"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card text-white mb-3 business" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Business</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below.
                    </p>
                    <button
                    type="button"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card text-white mb-3 politics" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">G</h5>
                    <p class="card-text">
                      This is a longer card with supporting text below.
                    </p>
                    <button
                    type="button"
                    class="btn btn-light btn-sm mt-2 mb-2"
                  >
                    read more..
                  </button>
                  </div>
                </div> 
              </div>
          </div>       
<!-- input search result display -->
            <div v-if="fetchSearchNews" class="card mb-3 mt-5" style="max-width: 1200px;" v-for="(article,index) in articles" :key="index">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img v-if="article.urlToImage" :src="article.urlToImage" class="card-img" alt="The image is related to article below.">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{article.title}}</h5>
                    <h6 class="card-text font-italic">
                      <small
                        >posted on {{article.publishedAt}} by
                        {{article.author}}</small
                      ></h6>
                    <article class="card-text">{{article.description}}</article>
                    <a :href="article.url" class="card-link">More Info...</a>
                  </div>
                </div>
              </div>
            </div>
<!-- techNews result display -->
            <div v-if="fetchTechNews" class="card mb-3 mt-5" style="max-width: 1200px;" v-for="(article,index) in articles" :key="index">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img v-if="article.urlToImage" :src="article.urlToImage" class="card-img" alt="The image is related to article below.">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{article.title}}</h5>
                    <h6 class="card-text font-italic">
                      <small
                        >posted on {{article.publishedAt}} by
                        {{article.author}}</small
                      ></h6>
                    <article class="card-text">{{article.description}}</article>
                    <a :href="article.url" class="card-link">More Info...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
<!-- footer -->
      <footer>
        <h6></h6>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/main.js"></script>
  </body>
</html>
