.my-h1-class {
  font-family: 'Montserrat', sans-serif;
  font-style: black900;
  color: #fff;
}

.world {
  background-image: url(../assets/world.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 8px #000000;
}

.tech {
  background-image: url(../assets/tech.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 5px #000000;
}

.science {
  background-image: url(../assets/science.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;
}

.entertainment {
  background-image: url(../assets/entertainment.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 8px #000000;
}

.sport {
  background-image: url(../assets/sport.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;
}

.fashion {
  background-image: url(../assets/fashion.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;
}

.business {
  background-image: url(../assets/business.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;
}

.politics
 {
  background-image: url(../assets/politics.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000000;
}

.deepshd {
  color: #e0dfdc;
  background-color: #333;
  padding: .2em .5em;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}


.jumbotron-fluid {
  background-image: url(../assets/world-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

// body {
  
//   background-color: rgb(20, 198, 230);
// }